<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head(~{::title})">
    <title>Register Page</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 75vh">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Register Page</h1>
                </div>
                <div class="card-body">
                    <form method="post" th:action="@{/auth/register}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <span th:text="${error}"></span>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" th:name="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" th:name="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a href="/auth/login" class="btn btn-success">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<section th:replace="fragments :: js">
</section>
</body>
</html>